<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      DooDoo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="ion-text-center ion-padding-top">
        <img src="assets/logo.png" alt="DooDoo Logo" style="height: 60px;">
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="newTodoTitle" placeholder="What needs to be done?" (keyup.enter)="addTodo()"></ion-input>
      <ion-button slot="end" (click)="addTodo()" [disabled]="!newTodoTitle.trim()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-list>
      <ion-item-sliding *ngFor="let todo of todoService.todos$ | async">
        <ion-item>
          <ion-checkbox slot="start" [checked]="todo.isDone" (ionChange)="toggleTodo(todo)"></ion-checkbox>
          <ion-label [class.done]="todo.isDone" (click)="toggleTodo(todo)">{{ todo.title }}</ion-label>
        </ion-item>

        <ion-item-options side="end" (ionSwipe)="deleteTodo(todo)">
          <ion-item-option color="danger" expandable="true" (click)="deleteTodo(todo)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div *ngIf="(todoService.todos$ | async)?.length === 0" class="empty-state">
      <p>No todos yet. Add one above!</p>
    </div>

    <div class="celebration-banner" *ngIf="showCelebration">
      <h1>{{ celebrationMessage }}</h1>
    </div>
  </div>
</ion-content>